<div class="container">
  <h2>This is C1</h2>
  <section class="container-fluid">
    <div class="row mt-3">
      <div class="col mt-3">
        <div class="card shadow-sm">
          <div class="card-header">Image-C1</div>
          <div class="card-body text-dark">
            <div class="row mt">
              <div class="col">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_m9g-IyxobFXTCVEcIRb_lawtU7KByniCXmzKZoiiSx2eCAZV3A"
                  alt="number1Img">
              </div>


            </div>
          </div>
        </div>
      </div>
      </div>

  </section>

</div>
